


body{
    background-image: url("https://images.hdqwalls.com/wallpapers/vision-in-avengers-infinity-war-new-poster-zq.jpg");
    background-repeat: repeat;
    background-size: 100%;
}
    
.pok{
    margin-left: 75px;
    margin-top: 10px;
    position:relative;
    font-size: 140%;
    padding: 15px;
    font-style: italic;
    background: #503f3f71;
    color:silver;
    width: 90%; 
  }